
#app {
    background-color: #202124 !important;
    color: #ffffff !important;
}
body {
    background-color: #202124 !important;
    color: #ffffff !important;
}
input, textarea {

    background-color : #3e3e3e; 
    color: #ffffff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}